.container{
    max-width: 1010px;
}
#header {
    display: block;
    border-bottom: 2px solid hsl(223, 64%, 98%);
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    max-width: 1010px;
}
#col-sm-2-logo{
    padding-left: 0px;

}
#logo {
    padding-top: 12px;
    display: block;
}

ul {
    list-style-type: none;
    overflow: hidden;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: hsl(219, 9%, 45%);
    text-align: left;
    padding-bottom: 30px;
    height: 70px;


}

li a:hover {
    color: #111;
    border-bottom: 4px solid hsl(26, 100%, 55%);
}

li a:visited {
    text-decoration: none;
}

li a:link {
    text-decoration: none;
}

li:hover {
    background-color: transparent;
}

#cart {
    padding-top: 14px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 24px;
}


#avatar {
    height: 50px;
    width: 50px;
    padding: 0px
}
#product1{
    max-width: 75%;
    max-height: 75%;
    border-radius: 15px;
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 70px;        
}
.column {
    float: left;
    max-width: 100px;
    max-height: 100px;
    padding-right: 25px;
    padding-top: 25px;
  }
.column img{
    max-width: 75px;
    max-height: 75px;
    border-radius: 15px;
}
.column img:hover {
    opacity: 0.5;
  }
#thumbnail{
    margin-left: 60px;
}

.text{
    margin-top: 130px;
    width:420px;
    padding-left: 10px;
}
#snCompany{
    text-transform: uppercase;
    color:hsl(26, 100%, 55%);
    letter-spacing:1px;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}
#productName{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 35px;
    margin-bottom: 30px;
}

#description{
    font-family: sans-serif;
    font-size: 16px;    
    color: hsl(219, 9%, 45%);
}

#newPrice {
    font-family: 'Kumbh Sans', sans-serif;
    height: 50px;
    line-height: 50px;
}
#discountPrice{
    font-weight: 700;
    font-size: 20px;
    vertical-align: middle;
}
#halfPrice{
    font-size: 11px; 
    font-weight: 700;
    color: hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%);
    margin-left: 10px;
    padding:2px;
    }
#oldPrice{
    text-decoration:line-through;
    color:hsl(220, 14%, 75%);
    font-size: 12px;
    font-weight: bold;
}

.addCartbtns  {
    margin-top: 30px;
    vertical-align: center;
    /*Still couldn't figure out*/
}
.quantity{
    width: 34px;
    border: none;
    text-align: center;
    background-color:hsl(223, 64%, 98%);
}
.wrapper{
    width: 120px;
    margin-right: 10px;
    border: none;
    background-color:hsl(223, 64%, 98%);
    float: left;    
}

.btn--minus{
    background-color:hsl(223, 64%, 98%);
}
.btn--plus{
    background-color:hsl(223, 64%, 98%);
}
.add{
    float: left;
}

#btn_cart{
    height: 15px;
    width: 15px;
}
#span_cart{
    padding-right: 15px;
}

.add-to-cart{
    color: hsl(25, 100%, 94%);
    font-weight: bold;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:70px;
    padding-right: 70px;
    background-color: hsl(26, 100%, 55%);
    border-radius: 8px;
   }

.attribution {
    font-size: 15px;
    text-align: center;
    padding-top: 60px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}