#container1 {
    display: block;
    padding-bottom: 0px;
    border-bottom: 2px solid hsl(219, 9%, 45%);
   }

ul {
    list-style-type: none;
    margin: 50px;
    
    overflow: hidden;
    
    
}
li {

    float: left;
}
li a {
    display: block;
    color: hsl(219, 9%, 45%);
    text-align: center;
    padding-bottom: 30px;
    height: 70px;
    
}
li a:hover {
    color: #111;
    border-bottom: 4px solid hsl(26, 100%, 55%);
    background-color: none;
}
li a:visited {
    text-decoration:none;
}
li a:link { 
    text-decoration: none; 
}




#logo {
    align-items: left;
    padding: 12px;
    display: block;
    
        }
    
#product-1{
    max-width: 70%;
    max-height: 70%;
    border-radius: 15px;
    margin-top: 50px;
}

#cart {
    padding: 12px;
}

#avatar {
    height: 50px;
    width: 50px;
    padding: 0px
    
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}